{% extends "layout.html" %}


{% block main %}

    <div class="d-flex flex-row flex-wrap justify-content-center align-items-top">
        {% for book in books %}
            <div class="card m-2"  style="width: 14rem; height: 29rem;">
                <img class="card-img-top px-3 pt-3 poster" src="{{ book[7] }}" alt="{{ book[3] }}">
                <div class="card-body">
                    <h6 class="card-title">{{  book[3]  }}</h6>
                    <p class="card-text text-truncate">{{ book[8] }}</p>
                    <a href="https://www.google.com/search?q=book%{{ book[3] }}" class="btn btn-primary">Search</a>
                  </div>
            </div>
        {% endfor %}
        <form action=""></form>
    </div>
    <div class="d-flex flex-row flex-wrap justify-content-between align-items-center">
        <form action="/books" method="GET">
            <div class="d-flex flex-row flex-wrap justify-content-between align-items-center">
                {% if page > 1 %}
                    <input type="hidden" name="page" value="{{ page - 1 }}">
                    <button type="submit" class="btn btn-primary">Back</button>
                {% endif %}
            </div>
        </form>
        <form action="/books" method="GET">
            <div class="d-flex flex-row flex-wrap justify-content-between align-items-center">
                <input type="hidden" name="page" value="{{ page + 1 }}">
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </form>
    </div>

    
{% endblock %}